<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor7days</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/flaticon/font/flaticon.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <section class="head-logo" >
        <div class="row">
            <div class="col-12 p-4">
                <img src="assets/image/logo 200.png" class="logo-main">
            </div>
<!--            <div class="col-12 p-3">-->
<!--                <p class="s-p fc">Solution anytime anywhere</p>-->
<!--            </div>-->
        </div>
    </section>

    <section class="category mt-3" >
        <div class="row">
            <div class="col-4 text-center">
                <div class="c-round">
                    <center><i class="flaticon-checkup icon"></i></center>
                </div>
                <p class="fc fst mt-2">Doctor Appionment</p>
            </div>
            <div class="col-4 text-center">
                <div class="c-round">
                    <center><i class="flaticon-shop icon"></i></center>
                </div>
                <p class="fc fst mt-2">Your Shop</p>
            </div>
            <div class="col-4 text-center">
                <div class="c-round">
                    <center><i class="flaticon-diagnostic icon"></i></center>
                </div>
                <p class="fc fst mt-2">Diagnostic<br> & Pathology</p>
            </div>

            <div class="col-4 mt-3 text-center">
                <div class="c-round">
                    <center><i class="flaticon-ambulance icon"></i></center>
                </div>
                <p class="fc fst mt-2">Ambulance</p>
            </div>
            <div class="col-4 mt-3 text-center">
                <div class="c-round">
                    <center><i class="flaticon-chat icon"></i></center>
                </div>
                <p class="fc fst mt-2">Health Tips</p>
            </div>
            <div class="col-4 mt-3 text-center">
                <div class="c-round">
                    <center><i class="flaticon-suitcase icon"></i></center>
                </div>
                <p class="fc fst mt-2">Jobs</p>
            </div>

        </div>
    </section>

    <section class="banner" >
        <div class="row">
            <div class="col-12 p-3 ">
                <img src="assets/image/home-img.png" class="ban-img">
            </div>
        </div>
    </section>


    <section class="footer">
        <div class="row fixed-bottom  foot pt-3">
            <div class="col-4">
                <a class="nav-link" href="#"><i class="flaticon-menu iconfoot"></i></a>
            </div>
            <div class="col-4 text-center">
                <div class="f-home mt-1 mb-1">
                <a class="nav-link" href="#"><i class="flaticon-home iconhome"></i></a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a class="nav-link" href="#"><i class="flaticon-user iconfoot"></i></a>
            </div>
        </div>
    </section>
</div>
</body>
</html>