<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor7days</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/flaticon/font/flaticon.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <section class="back" >
        <div class="row">
            <div class="col-12 p-2 pl-3 pt-3">
                <a href="#" ><i class="flaticon-left-arrow back-icon"></i></a>
            </div>
        </div>
    </section>

    <section class="category mt-1" >
        <div class="row bg-c">

            <img src="assets/image/img-big.png" width="100%">

        </div>
    </section>

    <section class="banner" >
        <div class="row">
            <div class="col-12 p-3 row " style="margin-left: 0px;margin-top: -100px;">
                <div class="col-6 p-1 text-center">
                    <div class="bg-box pd">
                        <p class="b-sub-ti">Your Appointment is</p>
                        <p class="b-ti">Complete</p>
                    </div>

                </div>
                <div class="col-6 p-1">
                    <div class="bg-box sec-box p-3 ">
                        <p style="padding-top: 15px;"><i class="flaticon-checked i-check"></i> Dr.Irfan</p>
                        <p><i class="flaticon-checked i-check"></i> 1:00 pm</p>
                        <p><i class="flaticon-checked i-check"></i> 8/15/2021</p>
                        <p><i class="flaticon-checked i-check"></i> Your serial No : 9</p>
                    </div>
                </div>
            </div>
            <div class="col-12 p-3 row text-center" style="margin-top: -28px;">
                <div class="col-12 bg-com">
                    <p class="com-ti ">GET WILL SOON</p>
                </div>
            </div>





            <div class="col-12 p-3 ">
                <img src="assets/image/home-img.png" class="ban-img">
            </div>



        </div>
    </section>
    <section class="footer">

        <div class="row fixed-bottom  foot pt-3">
            <div class="col-4">
                <a class="nav-link" href="#"><i class="flaticon-menu iconfoot"></i></a>
            </div>
            <div class="col-4 text-center">
                <div class="f-home mt-1 mb-1">
                    <a class="nav-link" href="#"><i class="flaticon-home iconhome"></i></a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a class="nav-link" href="#"><i class="flaticon-user iconfoot"></i></a>
            </div>
        </div>


    </section>
</div>

</body>
</html>