<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor7days</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/flaticon/font/flaticon.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <section class="back" >
        <div class="row">
            <div class="col-12 p-2 pl-3 pt-3">
                <a href="#" ><i class="flaticon-left-arrow back-icon"></i></a>
            </div>
        </div>
    </section>

    <section class="category mt-1" >
        <div class="row bg-c">
            <div class="col-12 row">
                <div class="col-2">
                    <i class="flaticon-ambulance ti-icon"></i>
                </div>
                <div class="col-10 p-2">
                    <span class="title-m pt-1"  >Ambulance</span>
                </div>
            </div>
        </div>
    </section>

    <section class="banner" >
        <div class="row">
            <div class="col-12 p-3 ">
                <img src="assets/image/ambulance.png" width="100%">
            </div>
            <div class="col-12 p-3">
                <a class="btn-loca"> <i class="flaticon-pin"></i> Select your location</a>
            </div>
            <div class="col-12 p-3">
                <h4>New In</h4>
            </div>
            <div class="col-12 p-3 row" style="padding-right: 0px !important;">
                <div class="col-6 " style="padding: 10px;">
                    <div class="product ">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p1.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 " style="padding: 10px;">
                    <div class="product">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p2.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 pl-4">
                    <b>1 2 3 4</b>
                </div>
            </div>


            <div class="col-12 p-3">
                <h4>Most Popular</h4>
            </div>
            <div class="col-12 p-3 row" style="padding-right: 0px !important;">
                <div class="col-6 " style="padding: 10px;">
                    <div class="product ">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p1.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 " style="padding: 10px;">
                    <div class="product">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p2.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 " style="padding: 10px;">
                    <div class="product ">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p1.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 " style="padding: 10px;">
                    <div class="product">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p2.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 " style="padding: 10px;">
                    <div class="product ">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p1.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 " style="padding: 10px;">
                    <div class="product">
                        <div class="col-12 pad-0">
                            <img src="assets/image/p2.png" width="100%">
                        </div>
                        <div class="col-12 mt-4" style="line-height: 5px;">
                            <p class="proName">Product Name</p>
                            <p class="pro_nm">Brief Description</p>
                            <p class="pro_pho">01928174380</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <section class="footer">

        <div class="row fixed-bottom  foot pt-3">
            <div class="col-4">
                <a class="nav-link" href="#"><i class="flaticon-menu iconfoot"></i></a>
            </div>
            <div class="col-4 text-center">
                <div class="f-home mt-1 mb-1">
                    <a class="nav-link" href="#"><i class="flaticon-home iconhome"></i></a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a class="nav-link" href="#"><i class="flaticon-user iconfoot"></i></a>
            </div>
        </div>


    </section>
</div>

</body>
</html>