<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor7days</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/flaticon/font/flaticon.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <section class="back" >
        <div class="row">
            <div class="col-12 p-2 pl-3 pt-3">
                <a href="#" ><i class="flaticon-left-arrow back-icon"></i></a>
            </div>
        </div>
    </section>

    <section class="category mt-1" >
        <div class="row bg-c">
            <div class="col-12 row">
                <div class="col-2">
                    <i class="flaticon-suitcase ti-icon"></i>
                </div>
                <div class="col-10 p-2">
                    <span class="title-m" >Job</span>
                </div>
            </div>


        </div>
    </section>

    <section class="banner" >
        <div class="row">
            <div class="col-12 p-3 ">
                <table class="" style="width: 100%;">
                    <tr>
                        <td class="row">
                            <div class="col-1">
                                <div class="job-rou"></div>
                            </div>
                            <div class="col-10" style="padding-left: 10px;">
                                <p class="job-pb">Publisher</p>

                            </div>
                            <div class="col-12">
                                <p class="job-title" >Need a Diploma Nurse</p>
                                <p class="job-pti">Nov 4 - 5 min read</p>
                            </div>
                        </td>
                        <td style="font-size: 15px">
                            <i class="flaticon-right-arrow"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 p-3 ">
                <table class="" style="width: 100%;">
                    <tr>
                        <td class="row">
                            <div class="col-1">
                                <div class="job-rou"></div>
                            </div>
                            <div class="col-10" style="padding-left: 10px;">
                                <p class="job-pb">Publisher</p>

                            </div>
                            <div class="col-12">
                                <p class="job-title" >Need a Diploma Nurse</p>
                                <p class="job-pti">Nov 4 - 5 min read</p>
                            </div>
                        </td>
                        <td style="font-size: 15px">
                            <i class="flaticon-right-arrow"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 p-3 ">
                <table class="" style="width: 100%;">
                    <tr>
                        <td class="row">
                            <div class="col-1">
                                <div class="job-rou"></div>
                            </div>
                            <div class="col-10" style="padding-left: 10px;">
                                <p class="job-pb">Publisher</p>

                            </div>
                            <div class="col-12">
                                <p class="job-title" >Need a Diploma Nurse</p>
                                <p class="job-pti">Nov 4 - 5 min read</p>
                            </div>
                        </td>
                        <td style="font-size: 15px">
                            <i class="flaticon-right-arrow"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 p-3 ">
                <table class="" style="width: 100%;">
                    <tr>
                        <td class="row">
                            <div class="col-1">
                                <div class="job-rou"></div>
                            </div>
                            <div class="col-10" style="padding-left: 10px;">
                                <p class="job-pb">Publisher</p>

                            </div>
                            <div class="col-12">
                                <p class="job-title" >Need a Diploma Nurse</p>
                                <p class="job-pti">Nov 4 - 5 min read</p>
                            </div>
                        </td>
                        <td style="font-size: 15px">
                            <i class="flaticon-right-arrow"></i>
                        </td>
                    </tr>
                </table>
            </div>









        </div>
    </section>
    <section class="footer">

        <div class="row fixed-bottom  foot pt-3">
            <div class="col-4">
                <a class="nav-link" href="#"><i class="flaticon-menu iconfoot"></i></a>
            </div>
            <div class="col-4 text-center">
                <div class="f-home mt-1 mb-1">
                    <a class="nav-link" href="#"><i class="flaticon-home iconhome"></i></a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a class="nav-link" href="#"><i class="flaticon-user iconfoot"></i></a>
            </div>
        </div>


    </section>
</div>

</body>
</html>