<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor7days</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/flaticon/font/flaticon.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <section class="back" >
        <div class="row">
            <img src="assets/image/bnimg.JPG" width="100%">
            <div class="col-12 p-3 text-center">
                <img src="assets/image/logo.png" width="100%" >
            </div>
            <div class="col-12 p-3 ">
                <div class="input-group mb-3 inp-gro">
                    <div class="input-group-prepend" >
                        <span class="input-group-text inp-icon" ><i class="flaticon-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control inp" placeholder="gmail@gmail.com">
                </div>
                <div class="input-group mb-3 inp-gro">
                    <div class="input-group-prepend">
                        <span class="input-group-text inp-icon"><i class="flaticon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control inp" placeholder="Password">
                    <div class="input-group-append">
                        <span class="input-group-text inp-icon"><i class="flaticon-view"></i></span>
                    </div>

                </div>
                <div class=" text-right">
                    <a class="forget">Forgot password?</a>
                </div>

            </div>

            <div class="col-12 p-3 ">
                <button class="btn-login">Login</button>
            </div>
            <div class="col-12 p-3  or-row">
                <label class="or-bor"></label> <b>Or</b> <label class="or-bor"></label>
            </div>
            <div class="col-12 p-3 ">
                <button class="btn-signup">Sign UP</button>
            </div>


        </div>
    </section>
    
</div>

</body>
</html>