<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor7days</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/flaticon/font/flaticon.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <section class="back" >
        <div class="row">
            <div class="col-12 p-2 pl-3 pt-3">
                <a href="#" ><i class="flaticon-left-arrow back-icon"></i></a>
            </div>
        </div>
    </section>

    <section class="banner" >
        <div class="row">
            <div class="col-12 p-3 ">
                <p class="job-tit" >Shipping & Payment</p>

            </div>
            <div class="col-12 p-3 ">
                <div class="sp-border ">

                    <p class="sp-he">Shipping Address</p>
                    <p>Kelly Kapoor</p>
                    <p class="sp-add">531 Pittston Ave, Scranton, PA 18505, United States</p>
                    <i class="flaticon-pencil sp-pen-ic"></i>
                </div>
            </div>
            <div class="col-12 p-3 ">
                <div class="sp-border ">
                    <p class="sp-he">Payment Method</p>
                    <div style="width: 12%; float: left; "><i class="flaticon-credit-card" style="font-size: 25px;"></i></div>
                    <div style="width: 88%; float: left;padding-top: 4px; "><label class="sp-cr-t">Visa **** 0959</label></div><br>
                    <i class="flaticon-pencil sp-pen-ic2"></i>
                </div>
            </div>
            <div class="col-12 p-3 row" style="padding-right: 0px !important;">
                <div class="col-12 row" style="padding-right: 0px !important;">
                    <div class="col-8 wish-list">
                        <p class="font-15">Price:</p>
                        <p class="font-15">Shipping:</p>
                        <p class="font-15">Total price:</p>
                    </div>
                    <div class="col-4 pad-0 text-right ">
                        <p class="font-15">$78</p>
                        <p class="font-15">Free</p>
                        <p><b>$78</b></p>
                    </div>
                </div>
                <div class="col-12" style="padding-right: 0px !important;">
                    <button class="btn-check">Checkout</button>
                </div>

            </div>

        </div>
    </section>

    <section class="footer">

        <div class="row fixed-bottom  foot pt-3">
            <div class="col-4">
                <a class="nav-link" href="#"><i class="flaticon-menu iconfoot"></i></a>
            </div>
            <div class="col-4 text-center">
                <div class="f-home mt-1 mb-1">
                    <a class="nav-link" href="#"><i class="flaticon-home iconhome"></i></a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a class="nav-link" href="#"><i class="flaticon-user iconfoot"></i></a>
            </div>
        </div>


    </section>
</div>

</body>
</html>